{
  "project_info": {
    "project_number": "0987654321",
    "project_id": "pencatatan-keuangan-prod",
    "storage_bucket": "pencatatan-keuangan-prod.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:0987654321:android:prodfirebaseapp",
        "android_client_info": {
          "package_name": "com.example.pencatatan_keuangan"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "PROD_ANDROID_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
